@{
    Layout = "_Layout";
}

<div class="d-flex col-3">
    <input class="form-control" type="text" placeholder="Введите выражение" id="mathExpression"/>
    <button class="btn btn-outline-success ms-2" type="button" id="calculateBtn">Вычислить</button>
</div>
<span id="response" class="mt-3"></span>

@section Scripts
{
    <script src="~/js/calculateMathExpression.js"></script>
}
